
:root {
  --primary-color: #353839d3;
  --primary-bg-hover-color: #384b51d3;
  --primary-table-header-bg: var(--primary-color);
  --primary-text-color: var(var(--primary-color));
}

.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Custom */
.app-active {
  background-color: var(--primary-bg-hover-color) !important;
}
.app-text-primary {
  color: var(--primary-text-color) !important;
}

.app-btn-primary {
  border: 1px solid var(--primary-color) !important;
}
.app-btn-primary:hover {
  background-color: var(--primary-bg-hover-color) !important;
  color: white !important;
}

.app-bg-primary {
  background-color: var(--primary-color) !important;
}

.table-header-bg {
  background-color: var(--primary-table-header-bg) !important;
}
